/* This whole page is a chatoic disaster I hate CSS */

body {
    /* Don't quite Understand all of this here, but it was there for our single page website example in class: */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1d1818;
    line-height: 1.5;
}

nav, main > section {
    overflow: auto;
}

main > section {
    min-height: 60vh;
    border-top: 2px solid rgb(112, 112, 112);
}

footer {
    border-top: 2px solid rgb(112, 112, 112);
}

.italic {
    font-style: italic;
}

#nav {
    justify-content: space-between;
    align-items: baseline;
    padding: 1em;
    background-color: #1e1922;
    color: #eee;
    display: flex;
}

nav h1, ul {
    margin: 0
}

nav a {
    text-decoration: none;
    color: #eee;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul a {
    padding: 1em;
    color: white;
}

nav ul a:hover {
    color: #7067CF;
}

#titlecard {
    background-color: #330C2F;
    background-image: url(images/fancybrain.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 4em; */
    color: #fff;
    min-height: 80vh;
}

#titlecard > div {
    margin: 1em;
    position: relative;
}

#titlecard h2 {
    font-size: 6em;
}

#titlecard h4 {
    font-size: 2.2em;
}

#titlecard > #right {
    text-align: center;
}

#titlecard > #right p {
    padding-bottom: 1em;
    font-size: 2em;
    text-shadow: 0 0 40px #000000;

}

#titlecard h2, #titlecard h4 {
    margin: 0;
    text-shadow: 0 0 30px #000000;
}



#why {
    background-color: #00aadd;
    background-image: url(images/pathways.jpg);
    background-size: cover;
    display: flex;
    padding: 0.5em;

}

/* why doesn't this workkkkkk */
#why > #right {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;
    /* JUST CENTER THE TEXT OMFG */
}

#why #left {
    margin: 2em;
    max-width: 45vw;
}

#why > div h2 {
    margin: 0.5em;
    font-size: 3em;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 20px #000;
}

#why > div h5 {
    color: #fff;
    font-size: 2em;
    text-shadow: 0 0 20px #000;
}

#why a, p {
    font-weight: bolder;
    color: #fff;
    text-shadow: 0 0 10px #000;
}



#privacy {
    background-image: url(images/privacy.jpg);
    /* background-size: cover; */
    /* I can't figure out styling this shit. I give up */
    display: flex;
    justify-content: center;
    align-items: center;
}

#privacy > div {
    padding: 0em;
    width: 75%;
    max-width: 700px;
}

#privright {
    display: flex;
}

#privacy  h2 {
    color: #48b4df;
    text-shadow: 0 0 7px rgb(98, 147, 161);
    /* background-color: #000; */
    font-size: 4em;
    margin: 0 0 0rem 0;
    text-align: center;
}

#privacy p {
    color: #61d2ff;
}


#contact {
    background-color: #100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#contact > form {
    display: flex;
}

#contact > form > div {
    display: flex;
    flex-direction: column;
}

#contact label {
    display: flex;
    flex-direction: column;
}

label span {
    margin: 1em 0;
}

input, textarea {
    border: 1px solid #000;
    padding: 0.5em;
    margin: 0 2em 0 0;
    font-size: 1em;
}

/* textarea {
    height: 9em;
    margin: 0 0 0 0;
} */

form button {
    width: auto;
    font-size: 1em;
    margin: 1em 0;
    align-self: center;
    /* padding: 0.5em 1em; */
    background-color: #332a3a;
    border-radius: 10px;
    color: #fff;
    border: none;
}

form button:hover {
    background-color: ;
}